/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 10px; */
  
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #070707;
  
  
  }


.container {
    /* 1140px */
    max-width: 160rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}


a{ 
    text-decoration: none; 
}


  
.btn__header:hover,
.btn__header p:hover{
    background-color:#b8dfb7;
    color: #000;
    cursor: pointer;
  
}


/* General btn */


.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #5b96ed;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #5b96ed;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #5b96ed;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #5b96ed;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #b8dfb7;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #b8dfb7;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #b8dfb7; */
  /* outline-offset: 8px; */
  /* box-shadow: 0 0 0 0.8rem rgba(118, 239, 144, 0.5); */
}


