
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.header{
    background-color: #0A192F;
  
}

.logo {
    width: 70%; 
    cursor: pointer;
  }

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;

}


.header__menu{
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Jura', sans-serif;
  width: 100%;
  padding-right: 4rem;
  
}

/* Header */
.header__menu{
    display: flex;
    justify-content: space-between;
}

.header__menu-lists{
    display: flex;
    gap: 2rem;
}
  
.header__list{
    list-style: none;
    cursor: pointer;
    padding: 0 1rem 1rem 0;
    position: relative;
}

.header__list a{
    color: #ffffff;
}
  
.header__list::after{
    position: absolute;
    content: '';
    width: 94%;
    height: 4px;
    background-color: #88EA85;
    bottom: 0;
    left: 0%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  
}
  
.header__list:hover:after{
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  
}
  
.header__menu{
    width: 200rem;
}

.header__menu-lists{
    display: flex;
    gap: 1rem;
}

.header__menu-lists:first-child{
    padding-left: 1.5rem;
}
  
/* .header__list:nth-child(2){
    width: 21rem;
} */
  
.green__number{
    color: #88EA85;
    padding-right: 0.0rem;
}
  


/* Button resume */
.btn__header{
    width: 26.8rem;
    height: 4.2rem;
    border: 0.2rem solid #C9F6C8;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}


.btn__header p{
    display: block;
    font-family: 'Jura', sans-serif;
    font-size: 1.5rem;
    
    cursor: pointer;
    
  
}


/* Footer */

.footer__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.footer__rights,
.footer__copy{
    padding-top: 1rem;
}

.footer__copy img{
    width: 1.5rem;
    height: 1.5rem;

}




/**************************/
/* HERO SECTION */
/**************************/

.hero{
    background-color: #0A192F;
    color: #fff;
    padding: 10.8rem 0 4.6rem 0;
}


.hero__welcome{
    font-family: 'Jura', sans-serif;
    font-size: 1.8rem;
    padding-bottom: 1.2rem;
}

.hero__inner{
    padding: 0 3.2rem;
    
}

.hero__para{
    max-width: 110rem;
}

.hero__inner span{
    font-weight: 600;
}
.hero__underline{
    text-decoration: underline;
}

.hero__name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    color: #C9F6C8;
    padding-bottom: 1.2rem;
}

.hero__do{
    font-size: 5rem;
    padding-bottom: 1.3rem;
    line-height: 6rem;
}

.hero__about{
    font-family: 'Tahoma';
    font-weight: 100;
    line-height: 2.4rem;
    font-size: 1.6rem;
    padding-bottom: 2.4rem;
    max-width: 53rem;
}


.hero__btn{
    width: 26.8rem;
    background: none;
    height: 4.2rem;
    border: 0.2rem solid #C9F6C8;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Jura', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
  }
  
.hero__btn:hover{
      background-color:#b8dfb7;
      color: #000;
}


.btn_cert{
    display: flex;
    justify-content: space-between;
}


.cert{
    background: rgba( 80, 79, 244, 0.2 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    padding: 1rem;
    max-width: 33rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
}

.cert__img{
    width: 30%;
    display: block;
}

/* ABOUT */
.about{
    color: #000;
    padding: 6.8rem 0 3.6rem 0;
    max-width: 150rem;
    margin: 0 auto;
    

}

.about__inner{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.about__title{
    font-family: 'Jura', sans-serif;
    font-size: 2rem;
    padding-bottom: 1.3rem;
}



.about__paras{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    max-width: 80rem;
    line-height: 2.7rem;
    
    
}

.about__para-bottom{
    padding-bottom: 1rem;
}

.about_picture{
    position: relative;
}
.about_picture img{
    width: 100%;
}

.about__block{
    position: absolute;
    width: 412px;
    height: 307px;
    background: #C9F6C8;
    top: -28.5rem;
    left: 1rem;
    z-index: -1;
}



 

.edge{
    background-color: #0A192F;;
    position: relative;
    height: 80px;
    width: 100%;
}

.edge:after{
    content: '';
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #fff;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
    clip-path: polygon(100% 100%, 100% 0, 0 0);
    
}








/* Flipping words */

.container-flip {
    padding-left: 2rem;
    height: 37px;
  }

  .container-flip span {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: rotate-word 20s linear infinite;
            animation: rotate-word 20s linear infinite;
  }
  
  .container-flip span:nth-child(2) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  .container-flip span:nth-child(3) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  
  .container-flip span:nth-child(4) {
    -webkit-animation-delay: 7.5s;
            animation-delay: 7.5s;
  }
  .container-flip span:nth-child(5) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  .container-flip span:nth-child(6) {
    -webkit-animation-delay: 12.5s;
            animation-delay: 12.5s;
  }
  
  .container-flip span:nth-child(7) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
  }
  
  .container-flip span:nth-child(8) {
    -webkit-animation-delay: 17.5s;
            animation-delay: 17.5s;
  }
  


  /* Skills and Tech */


.skills{
    background-color: #0A192F;
    color: #fff;
    font-family: inherit;
    
    
    
}

.container{
    max-width: 150rem;
    margin: 0 auto;
}

.skills__title{
    padding-top: 3rem;
    font-size: 2rem;
    padding-bottom: 1.3rem;
    font-weight: 400;
}

.skill__all{
    display: flex;
    justify-content: space-between;
    padding: 6.8rem 0 8.6rem 0;
    
    
}

.skills__tech{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 60rem;
    height: 17rem;
}

.skills__add{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 50rem;
}

.devicon{
    font-size:5rem;
}
.devicon--box{
    width: 12%;
    text-align: center;
}

.devicon--box p:first-of-type {
    font-size: 1.4rem;
    padding-top: 1rem;
    font-family: 'Jura', sans-serif;
}


.ver-line{
    height: 18rem;
    width: .2rem;
    background-color: #fff;
    margin: 0 1rem ;

}


/* Experience */
.exp{
    color: #000;
    padding: 6.8rem 0 3.6rem 0;
    max-width: 150rem;
    margin: 0 auto;
    
}


.exp__content{
    display: flex;
    align-items: center;
    justify-content: center;

}
.exp__desc{
    padding-top: 3rem;
    display: none;
    /* width: 90rem; */
}

.exp__jobs{
    display: flex;
    gap: 3rem;
    
}

.exp__comp{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
}

.exp__company{
    background: none;
    border: none;
    
    font-size: 1.6rem;
   
    cursor: pointer;
    
}

.exp__company.active--tab{
    font-weight: 800;
}


.exp__title{
    font-family: 'Jura', sans-serif;
    font-size: 2rem;
    padding-bottom: 1.3rem;
    font-weight: 500;

}

.active--tab{
    display: block;
    position: relative;
    color: #000;
}

.active--tab::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: -33px;
    height: 4rem;
    width: 0.4rem;
    background-color: aquamarine;
    z-index: 99;
   
  }

.active--content{
    display: block;
    
}

.job--none{
    display: none;
}

.exp__divider{
    height: 24rem;
    width: .1rem;
    background-color: #939393;
    float: right;
    position: relative;
}



.exp__job--name{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Tahoma', sans-serif;
    padding-bottom: .7rem;
}

.exp__year{
    display: block;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.exp__about{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 80rem;
}
  
  
  @-webkit-keyframes rotate-word {
    0% {
      opacity: 0;
    }
    1% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    4% {
      opacity: 0;
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    19% {
      opacity: 0;
    }
    20% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes rotate-word {
    0% {
      opacity: 0;
    }
    1% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    4% {
      opacity: 0;
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    19% {
      opacity: 0;
    }
    20% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
