{% extends 'base.html'%}
{% load static %}


{% block content %}
<section class="container_blog">
    <div class='blog__space'> 
     <h2 class='port__title title'>Blog</h2>
     <div class="blog__post--wrap">
 
     {% for object in object_list %}
         <div class="blog__home--prev">
             <div class="blog__home--img">
                 <a class="data__link" href="{% url 'post-detail' object.id %}" class="blog__home>">
                 {% if object.image %}
                     <img src="{{ object.image.url }}" alt="prev" />
                 {% else %}
                     <img src="{% static "images/default.webp" %}" alt="prev" />
                {% endif %}
                
                 {% comment %} <img src="{{ object.image.url }}" alt="prev" /> {% endcomment %}
             </div>
             
                 <h2 class="blog__home--title">{{ object.title }}</h2>
                 <p class="date__font">{{ object.date}}</p>
             </a>
             <div class="blog__home--para">{{ object.content|truncatewords_html:30|safe }}</div>
             <a class="link__btn read" href="{% url 'post-detail' object.id %}" class="blog__home>">Read More</a>
         </div>  
     {% endfor %}   
 
    </div>
     <a id="my-anchor"></a>
 <div class="block">
     <div class="block_inner">
         <div class="block_first">
             {% if page_obj.has_previous %}
                 <a class="block__link" href="?page=1#my-anchor">First</a>
                 <a class="block__link" href="?page={{ page_obj.previous_page_number }}#my-anchor">&laquo;</a>
                 <a class="block__link" href="?page={{ page_obj.previous_page_number }}#my-anchor">Previous</a>
             {% endif %}
         </div>
         <div class="block_second">
         {% if page_obj.has_next %}
             <a class="block__link"  href="?page={{ page_obj.next_page_number }}#my-anchor">Next</a>
             <a class="block__link"  href="?page={{ page_obj.next_page_number }}#my-anchor">&raquo;</a>
             <a class="block__link"  href="?page={{ page_obj.paginator.num_pages }}#my-anchor">Last</a>
         {% endif %}
         </div>
         
         <div class="block_pages">
             <a class="block__link"  href="#my-anchor">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
         </div>
     </div>  
 </div>
 
 
 </section> 
 

{% endblock %}
