<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmitry Tsuverkalon - Data Engineer</title>
    <!-- Add your CSS and JavaScript files here -->
    {% load static %}
    {% block head %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    

        <link rel="stylesheet" href="{% static 'blog/general.css' %}">
        <link rel="stylesheet" href="{% static 'blog/home.css' %}">
        <link rel="stylesheet" href="{% static 'blog/post_details.css' %}">
        <link rel="stylesheet" href="{% static 'blog/queries.css' %}">
        <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
        
    {% endblock %}
    
</head>
<body>



<section class="header">
    <header class="container header__inner">
        <div class="logo">
            <a href="{% url 'home' %}"><img src={% static "images/logo_2.png" %}></a>
        </div>
        
        
        <nav class="header__menu">
            <ul class="header__menu-lists">
                <li class="header__list">
                    <span class="green__number">0.1</span>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="header__list">
                    <a href="{% url "post" %}">
                    <span class="green__number">0.2</span>
                    Post</a>
                </li>
                <li class="header__list">
                    <span class="green__number">0.3</span>
                    <a href="{% url 'home' %}#about">About</a>
                </li>
                <li class="header__list">
                    <span class="green__number">0.4</span>
                    <a href="{% url 'home' %}#skills">Skills and Technologies</a>
                </li>
                <li class="header__list">
                    <span class="green__number">0.5</span>
                    <a href="{% url 'home' %}#exp">Experience</a>
                </li>
                <li class="header__list">
                    <span class="green__number">0.6</span>
                    <a href="{% url 'home' %}#work">Work</a>
                </li>
                <li class="header__list">
                    <span class="green__number">0.7</span>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                
            </ul>
        </nav>

        <a class="btn__header" href="#" download="resume" target="__blank" rel="noreferrer">
            <p>Resume</p>  
         </a>
         <div class="drop_menu"><span></span></div>
    </header>

</section>
<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <div class="container">
    <div class="footer__inner">
        <div class="footer__icons">
            <a href="https://www.linkedin.com/in/john-doe-123456789/" target="__blank" rel="noreferrer">
                <img class="change-my-color" src={% static "images/linkedin.svg" %}>
            </a>
            <a href="https://www.linkedin.com/in/john-doe-123456789/" target="__blank" rel="noreferrer">
                <img class="change-my-color" src={% static "images/instagram.svg" %}>
            </a>
            <a href="https://www.linkedin.com/in/john-doe-123456789/" target="__blank" rel="noreferrer">
                <img  class="change-my-color" src={% static "images/github.svg" %}>
            </a>
        </div>
        <div class="footer__copy">
            <p>&copy;2021 Build with <img class="dj" src={% static "images/django.svg" %} alt="django"/>, Design by Dmitry Tsuverkalov</p>
        </div>

        <div class="footer__rights">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
    </div>
</div>

</footer>
<script rel="text/javascript" src="{% static "js/script.js" %}"></script>
</html>