{% extends 'base.html' %}

{% load static %}


{% block content %}
    {% comment %} Hero section {% endcomment %}
<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <span class="hero__welcome">Hello 👋🏻, I’m </span>
            <h2 class='hero__name'>Dmitry,</h2>
                    <p class='hero__do'><span>SWE</span> turned <span class='hero__underline'>Data Engineer</span> and 
                    <span class='container-flip'> 
                        <span class='flip flip-optimizer'>Data Analyst📊.</span>
                        <span class='flip flip-designer'>UX/UI Designer🧑‍🎨.</span> 
                        <span class='flip flip-analytics'>Web Developer🧑‍💻.</span> 
                        <span class='flip flip-optimizer'>Digital Marketer📊.</span> 
                        <span class="flip flip-kayking">Kayaking. 🛶</span>
                        <span class="flip flip-booknerd">Book Nerd. 📚</span>
                        <span class="flip flip-car">Porsche Enthusiast. 🏎💨</span>
                        <span class="flip flip-catdad">Cat Dad. 🐈</span>
                    </span>
                    </p>
                <p class='hero__about'>My profound passion for Azure cloud computing and programming is complemented by a solid foundation in problem-solving, data analysis, and strategic thinking skills. I excel at analyzing complex systems, scripting, automation, and implementing efficient solutions to optimize cloud-based platforms. </p>
                <a class='hero__btn' href="#">See My Portfolio</a>
                <div class='cert'>
                    <img class='cert__img' src="{% static "images/az900.png" %}" alt="az900" />
                    <img class='cert__img' src="{% static "images/az104.png" %}" alt="az104" />
                    <img class='cert__img' src="{% static "images/az400.png" %}" alt="az400" />
                </div>
        </div>
    </div>
</section>
<section>
    <div class='about'>
        <div class='about__inner'>
            <div class='about__first'>
                <h2 class='about__title'>0.1 About me</h2>
                <div class='about__paras'> 
                    <p class='about__para-bottom'>
                    I am Dmitry, a passionate <b>DevOps Cloud Engineer and Programmer</b>. My coding 
                    journey began in 2012 when I started learning how to code. Initially, I built 
                    websites using JavaScript for small businesses. However, I found particular joy
                    in developing a digital piano project due to the logical thinking involved.
                    </p>
                    <p class='about__para-bottom'>
                    Over time, I have honed my skills in<b> analyzing complex systems, scripting, automation</b>,
                    and implementing effective solutions to optimize cloud-based environments. Creating 
                    <b> CI/CD pipelines and processes for development</b> is an area of expertise for me. Additionally,
                    I possess proficiency in designing, implementing, and managing <b>virtual networks within Azure,</b> 
                    configuring components such as <b>Express Route, VPN Gateways, DNS, and Load Balancers.</b>
                    </p>
                    <p class='about__para-bottom'> 
                    In terms of certifications, I have successfully completed and obtained Microsoft certifications
                    for <b>AZ-900 Azure Fundamentals, AZ-104 Azure Administrator Associate, and AZ-400 DevOps Engineer</b>. 
                    These certifications validate my knowledge and expertise in the Azure ecosystem, allowing me to provide 
                    comprehensive solutions and services in cloud computing and DevOps practices.
                    </p>     
                </div>
            </div>
            <div class='about__second'>
                <picture class='about_picture'>
                    <div class='about__block'></div>
                    <img src="{% static "images/me.jpg" %}" alt='Me' />
                </picture>
            </div>
        </div>

        
    </div>
    <div className='edge'>
        </div>
</section>

<section id="skills" class='skills'>
        <div class='skills__inner container'>
        <h2 class='skills__title'>0.2 Skills & Technologies</h2>
    <div class='skill__all'>
    <div class='skills__tech'>
        <div class='devicon--box'>
            <i class="devicon devicon-html5-plain"></i> 
            <p>HTML5</p>
        </div>
        <div class='devicon--box'>
        <i class="devicon devicon-css3-plain"></i> 
            <p>CSS</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-sass-original"></i>
            <p>SASS</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-javascript-plain"></i>
            <p>JavaScript</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-react-original"></i>
            <p>React JS</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-redux-original"></i>
            <p>Redux</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-typescript-plain"></i>
            <p>TypeScript</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-git-plain"></i>
            <p>Git</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-nodejs-plain"></i>
            <p>Node JS</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-mongodb-plain"></i>
            <p>MongoDB</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-python-plain"></i>
            <p>Python</p>
        </div>
    </div>
    <div class='ver-line'></div>
    <div class='skills__add'>
        <div class='devicon--box'> 
            <i class="devicon devicon-jenkins-line"></i>
            <p>Jenkins</p>
        </div>
        <div class='devicon--box'> 
            <i class="devicon devicon-azure-plain"></i>
            <p>Azure</p>
        </div>
        <div class='devicon--box'> 
            <i class="devicon devicon-figma-plain"></i>
            <p>Figma</p>
        </div>   
        <div class='devicon--box'> 
            <i class="devicon devicon-docker-plain"></i>
            <p>Docker</p>
        </div>
        <div class='devicon--box'>  
            <i class="devicon devicon-terraform-plain"></i>
            <p>Terraform</p>
        </div>
        <div class='devicon--box'>  
            <i class="devicon devicon-kubernetes-plain"></i>
            <p>Kubernetes</p>
        </div>
        <div class='devicon--box'>  
            <i class="devicon devicon-linux-plain"></i>
            <p>Linux</p>
        </div>
        

    </div>
    </div>

        </div> 
</section>


<section id="exp" class'exp '>
    <div class'exp__inner container'>
      <h2 class'exp__title'>0.3 Experience</h2>
<div class'exp__content'>
      <div class'exp__jobs'>
        <div class'exp__comp'>
          
            <div 
            class{toggle === 1 ? "exp__company active--tab" : "exp__company"}
            onClick={() => toggleTab(1)}
            >TD Brands LLC</div> 
          
            <div
            class={toggle === 2 ? "exp__company active--tab" : "exp__company"}
            onClick={() => toggleTab(2)}
            >NY Popular</div>

            <div
            class={toggle === 3 ? "exp__company active--tab" : "exp__company"}
            onClick={() => toggleTab(3)}
            >The Wild Flower Group</div>
          
        </div>

        <div class='exp__divider choose'></div>
        

        <div class='jobs'>
               <div class={toggle === 1 ? "exp__desc active--content" : "exp__desc"}>
                <p class='exp__job--name'> Self-Employed</p>
                  <small class='exp__year'>May 2020 - Present</small>
                  <p class='exp__about'>

                  • Streamlining and managing verbal and written communications across hosting companies, clients, and vendors to
                 ensure effective collaboration and customer satisfaction.<br/>
• Conducting meetings with prospective clients to assess websites and gather detailed specifications for new or
existing projects.<br/>
• Creating and implementing the front-end of websites by leveraging HTML5, CSS3, jQuery, and ReactJS.<br/>
• Developed, managed, and optimized digital campaigns across multiple platforms, including Google Ads Paid
Search, Display, Video, and Facebook Business Manager.  <br/>
                     
                 </p>
            </div>
            <div class={toggle === 2 ? "exp__desc active--content" : "exp__desc"}>
                <p class='exp__job--name'>Full-Stack Digital Marketing </p>
                <small class='exp__year'>May 2017 - May 2023</small>
                <p class='exp__about'>
                • Designing, developing, and testing the web application by using the HTML5, CSS3, Bootstrap, React JS and
Redux.<br/>
• Developed and managed Amazon Sponsored Ads Campaigns with monthly budget $100.000+ and generated
$600.000+ with 16% ACoS.<br/>
• Collaborated with team to quickly resolve customer complaints with appropriate action.<br/>
                </p>
            </div>
            <div class={toggle === 3 ? "exp__desc active--content" : "exp__desc"}>
                <p class='exp__job--name'>Front-end Developer </p>
                <small class='exp__year'>January 2023 - March 2023</small>
                <p class='exp__about'>
                • Developed and testing Shopify theme by using Liquid, Javascript, CSS, React Js.<br/>  
                • Improved user experience and website speed by 25%, increased website traffic by 15%.<br/>
                • Managed paid digital marketing campaigns across Google ads, Google Shopping, Meta ads.<br/> 
                • Debugging existing websites to increase performance, reducing overall load time.<br/> 
                • Deploying finished website to hosting using FTP port number 21.<br/>
                • Setting up and managing DNS (Domain Name System) configurations.<br/>
                </p>
            </div>
        
         </div>
      </div>
      </div>
    </div>

</section>

{% endblock %}