{% extends 'base.html' %}

{% load static %}


{% block content %}
    {% comment %} Hero section {% endcomment %}
<section class="hero ">
    <div class="container">
        <div class="hero__inner">
            <span class="hero__welcome">Hello 👋🏻, I’m </span>
            <h2 class='hero__name'>Dmitry,</h2>
                    <p class='hero__do'><span>SWE</span> with passion in <span class='hero__underline'>Data</span> and 
                    <span class='container-flip'> 
                        <span class='flip flip-optimizer'>Software Development📊.</span>
                        <span class='flip flip-designer'>UX/UI Designing🧑‍🎨.</span> 
                        <span class='flip flip-analytics'>Web Development.</span> 
                        <span class='flip flip-optimizer'>Digital Marketing📊.</span> 
                        <span class="flip flip-kayking">Kayaking🛶.</span>
                        <span class="flip flip-booknerd">Books📚.</span>
                        <span class="flip flip-car">Porsche🏎💨.</span>
                        <span class="flip flip-catdad">Yachting🛥️.</span>
                    </span>
                    </p>
                <p class='hero__about'>Collect, process, and build data pipelines, analyze and present insights that empower everyday business decisions and drive global transformation. </p>
                <a class='hero__btn' href="#work">See My Portfolio</a>
                <div class='cert'>
                    <img class='cert__img' src="{% static "images/az900.png" %}" alt="az900" />
                    <img class='cert__img' src="{% static "images/az104.png" %}" alt="az104" />
                    <img class='cert__img' src="{% static "images/az400.png" %}" alt="az400" />
                </div>
        </div>
    </div>
</section>
<section class="container">
    <div id="about" class='about'>
        <div class='about__inner'>
            <div class='about__first'>
                <h2 class='about__title'>0.1 About me</h2>
                <div class='about__paras'> 
                    <p class='about__para-bottom'>
                    I am Dmitry, a passionate Software Engineer and Data Engineer.
                     My coding journey began in 2012 when I started learning how to code. 
                     Initially, I built websites using PHP, MySQL for small businesses. 
                     However, I found particular joy in developing a digital piano project due 
                     to the logical thinking involved.
                    </p>
                    <p class='about__para-bottom'>
                    Over time, I have improved my skills in analyzing complex systems, 
                    scripting, automation, back-end and front-end development. 
                    I specialize in designing, building, and maintaining scalable 
                    data pipelines that enable businesses to make informed, 
                    data-driven decisions. With a strong foundation in programming, 
                    data architecture, ETL processes, and database management.
                    </p>
                    <p class='about__para-bottom'> 
                    I am passionate about transforming raw data into actionable insights.
                     My expertise spans a range of tools and technologies, including cloud 
                     platforms, SQL, Python, JavaScript and big data frameworks, which I 
                     use to solve complex data challenges and optimize performance.
                    </p>     
                </div>
            </div>
            <div class='about__second'>
                <picture class='about_picture'>
                    <div class='about__block'></div>
                    <img src="{% static "images/me.jpg" %}" alt='Me' />
                </picture>
            </div>
        </div>

        
    </div>
    <div className='edge'>
        </div>
</section>

<section id="skills" class='skills'>
        <div class='skills__inner container'>
        <h2 class='skills__title'>0.2 Skills & Technologies</h2>
    <div class='skill__all'>
    <div class='skills__tech'>
        <div class='devicon--box'> 
            <i class="devicon devicon-python-plain"></i>
            <p>Python</p>
        </div>
        <div class='devicon--box'> 
            <i class="devicon devicon-django-plain-wordmark"></i>
            <p>Django</p>
        </div>
        <div class='devicon--box'>
        <i class="devicon devicon-djangorest-plain"></i> 
            <p>Djnago Rest</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-azuresqldatabase-plain"></i>
            <p>SQL</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-javascript-plain"></i>
            <p>JavaScript</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-react-original"></i>
            <p>React JS</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-redux-original"></i>
            <p>Redux</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-typescript-plain"></i>
            <p>TypeScript</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-git-plain"></i>
            <p>Git</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-django-plain-wordmark"></i>
            <p>Django</p>
        </div>
        <div class='devicon--box'> 
        <i class="devicon devicon-mongodb-plain"></i>
            <p>MongoDB</p>
        </div>
        
    </div>
    <div class='ver-line'></div>
    <div class='skills__add'>
        <div class='devicon--box'> 
            <i class="devicon devicon-jenkins-line"></i>
            <p>Jenkins</p>
        </div>
        <div class='devicon--box'>
            <i class="devicon devicon-apacheairflow-plain"></i>
            <p>Apache Aiir Flow</p>
        </div>
        <div class='devicon--box'> 
            <i class="devicon devicon-apachespark-plain-wordmark"></i>
            <p>Apache Spark</p>
        </div> 
        
          
        <div class='devicon--box'> 
            <i class="devicon devicon-docker-plain"></i>
            <p>Docker</p>
        </div>
        <div class='devicon--box'>  
            <i class="devicon devicon-terraform-plain"></i>
            <p>Terraform</p>
        </div>
        <div class='devicon--box'>  
            <i class="devicon devicon-kubernetes-plain"></i>
            <p>Kubernetes</p>
        </div>
        <div class='devicon--box'>  
            <i class="devicon devicon-apachekafka-original-wordmark"></i>
            <p>Apache Kafka</p>
        </div>
        <div class='devicon--box'>  
            <i class="devicon devicon-linux-plain"></i>
            <p>Linux</p>
        </div>
        <div class='devicon--box'> 
            <i class="devicon devicon-azure-plain"></i>
            <p>Azure</p>
        </div>
        

    </div>
    </div>

        </div> 
</section>


<section id="exp" class='exp '>
    <div class='exp__inner container'>
      <h2 class='exp__title'>0.3 Experience</h2>
<div class='exp__content'>
      <div class='exp__jobs'>
        <div class='exp__comp'>
          
            <div class="exp__company active--tab">BI Cloud Solutions Inc.</div> 
            <div class="exp__company">TD Brands LLC</div> 
            <div class="exp__company">The Wildflower Group</div> 
            <div class="exp__company">Seven Figure Marketing</div> 
          
        </div>

        <div class='exp__divider choose'></div>
        

        <div class='jobs'>
               <div class="exp__des active--content">
                <p class='exp__job--name'>Data Engineer</p>
                  <small class='exp__year'>June 2024 - Present</small>
                  <p class='exp__about'>

                  • Leveraged FastAPI framework to design and implement high-performance
                  RESTful APIs, utilizing SQLAlchemy for efficient database operations.<br/>
• Architected an end-to-end data integration solution using Amazon API
and Azure Data Factory data flow, connecting to Power BI dashboards for
comprehensive data visualization and analysis.<br/>
                     
                 </p>
            </div>
            <div class="exp__des job--none">
                <p class='exp__job--name'>Software Engineer</p>
                <small class='exp__year'>May 2022 - December 2023</small>
                <p class='exp__about'>
                • Dramatically improved large basket (300+ items) loading speed by
                approximately 80%, reducing the time from 10 seconds to just 1.8 seconds.
                This optimization resulted in a 38% decrease in payment processing time,
                enhancing user satisfaction and increasing conversion rates.<br/>
                </p>
            </div>
            <div class="exp__des job--none">
                <p class='exp__job--name'>Software Engineer</p>
                <small class='exp__year'>January 2020 - May 2022</small>
                <p class='exp__about'>
                • Architected a reusable Azure CI/CD template, adopted by 15+ projects,
                incorporating automated triggers for streamlined development workflows.<br/>  
                • Successfully migrated infrastructure from in-house servers to cloud, resulting
                in a 4x increase in system throughput (from 250K to 1M notifications/day).<br/>
                </p>
            </div>

            <div class="exp__des job--none">
                <p class='exp__job--name'>Data Engineer</p>
                <small class='exp__year'>January 2018 - November 2019</small>
                <p class='exp__about'>
                • Orchestrated complex data workflows using Apache Airflow, streamlining ETL
                processes and improving data pipeline efficiency by 30%.<br/>
• Developed Python scripts with pandas for data cleaning, transformation, and
analysis, reducing data preparation time by 40%.<br/>
                </p>
            </div>
        
         </div>
      </div>
      </div>
    </div>

</section>

<section id="work" class='port'>
    <div class='port__inner container'>
        <h2 class='port__title'>0.4 My Recent Work</h2>
        <div class='ports'>
            <div class='ports__main'>

                <img class='ports__img' src="{% static "images/mattress.jpg" %}" alt='Mattresses reviews' />
                <div class='port__menu'>
                            <div class='pro__tools'>
                                <i class="dev_size devicon devicon-html5-plain-wordmark"></i>
                                <i class="dev_size devicon devicon-css3-plain-wordmark"></i>
                                <i class="dev_size devicon devicon-javascript-plain"></i>
                            </div>
                            <div class='port__block'>
                                <a href='https://github.com/tdmitryny/mattresses-reviews' class='link__btn' target="_blank" rel="noreferrer" >Github</a>
                                <a href='https://tdmitryny.github.io/mattresses-reviews/' class='link__btn' target="_blank" rel="noreferrer" >Website</a>
                            </div>
                </div>
            </div>
            <div class='ports__main'>
                <img class='ports__img' src="{% static "images/microgreen.jpg" %}" alt='Microgreens' />
                <div class='port__menu'>
                <div class='pro__tools'>
                    <i class="dev_size devicon devicon-react-original-wordmark"></i>
                    <i class="dev_size devicon devicon-css3-plain-wordmark"></i>
                    <i class="dev_size devicon devicon-redux-original"></i>
                </div>
      
      
                <div class='port__block'>
                        <a href='https://github.com/tdmitryny/The-Better-Task' class='link__btn' target="_blank" rel="noreferrer" >Github</a>
                        <a href='https://tdmitryny.github.io/The-Better-Task/' class='link__btn' target="_blank" rel="noreferrer" >Website</a>
                    </div>
                </div>
            </div>

            
            </div>
                   
        </div>
    </section>

<section class="container">
   <div class='blog__space'> 
    <h2 class='port__title title'>0.5 Blog</h2>
    <div class="blog__home">

    {% for object in object_list %}
        <div class="blog__home--prev">
            <div class="blog__home--img">
                <a class="data__link" href="{% url 'post-detail' object.id %}" class="blog__home>">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="prev" />
                {% else %}
                    <img src="{% static "images/default.webp" %}" alt="prev" />
               {% endif %}
               
                {% comment %} <img src="{{ object.image.url }}" alt="prev" /> {% endcomment %}
            </div>
            
                <h2 class="blog__home--title">{{ object.title }}</h2>
                <p class="date__font">{{ object.date}}</p>
            </a>
            <div class="blog__home--para">{{ object.content|truncatewords_html:30|safe }}</div>
            <a class="link__btn read" href="{% url 'post-detail' object.id %}" class="blog__home>">Read More</a>
        </div>  
    {% endfor %}   

   
    </div>
    <a id="my-anchor"></a>
<div class="block">
    <div class="block_inner">
        <div class="block_first">
            {% if page_obj.has_previous %}
                <a class="block__link" href="?page=1#my-anchor">First</a>
                <a class="block__link" href="?page={{ page_obj.previous_page_number }}#my-anchor">&laquo;</a>
                <a class="block__link" href="?page={{ page_obj.previous_page_number }}#my-anchor">Previous</a>
            {% endif %}
        </div>
        <div class="block_second">
        {% if page_obj.has_next %}
            <a class="block__link"  href="?page={{ page_obj.next_page_number }}#my-anchor">Next</a>
            <a class="block__link"  href="?page={{ page_obj.next_page_number }}#my-anchor">&raquo;</a>
            <a class="block__link"  href="?page={{ page_obj.paginator.num_pages }}#my-anchor">Last</a>
        {% endif %}
        </div>
        
        <div class="block_pages">
            <a class="block__link"  href="#my-anchor">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </div>
    </div>  
</div>


</section> 

{% endblock %}